*{
	padding: 0;
	margin: 0;
	border: 0;
}
header{
	height: 80px;
	background: lightblue;
/*	padding-top: 20px;
	padding-left: 60px;
	padding-bottom: 0;
	padding-right: 10px;
	padding: 20px 10px 0 60px;
	padding: 20px 10px;*/
	padding: 20px;
}
figure{
	width: 200px;
	float: left;
}
nav{
	float: right;
	margin-top: 28px;
}
nav li{
	display: inline;
	background: purple;
	padding: 10px;
}
nav li a{
	text-decoration: none;
	color: white;
}
#banner{
	height: 400px;
	background: gray;
}
#banner h1{
	font-size: 70px;
	color: white;
	text-align: center;
	border-width: 10px;
	border-style: none;
	/*
		valores de border-style:
		-dashed
		-dotted
		-double
		-solid
		-none
	*/
	border-color: yellow;
	border: 3px solid orange;
	position: relative;
	top: 70px;
	left:90px;
}
span{
	border-left: 2px solid pink;
}
#principal{
	width: 70%;
	background: yellow;
	float: left;
}
article{
	width: 38%;
	border: 1px solid orange;
	float: left;
	margin: 22px;
	padding: 10px;
}
article img{
	width: 200px;
	float: right;
}
aside{
	width: 30%;
	height: 800px;
	background: pink;
	float: right;
}
footer{
	height: 80px;
	background: black;
	text-align: center;
	color: white;
	clear: both;
}
.formulario-buscar{
	width: 350px;
	float: left;
	position: relative;
	top: 20px;
}
.input{
	width: 250px;
	padding: 8px;
}
.btn{
	padding: 10px;
	background: white;
}
.input::placeholder{
	text-align: center;
	color: green;
}